/* Par Cruwp le 22/02/2016 */
body {
    width : 100%;
    margin : 0;
    padding : 0;
    background : #fefcea;
    font-family : "Ubuntu", sans-serif;
    color : #240f00;
}
a {
    text-decoration : none;
    color: #620d19;
}
a:hover {
    color: #bb1c34;
}
/**
* HEADER
*/
header {
    margin-top: 37px;
    height : 46px;
    border-top: 1px solid #6b5442;
    border-bottom: 1px solid #6b5442;
    font-family : "Gill Sans MT", sans-serif;
    text-transform: uppercase;
}
/**
* MENU DE NAVIGATION
*/
nav {
    width: 100%;
    height : 100%;
    margin: auto;
    text-align: center;
    line-height: 44px;
}
nav a {
    color : #19120b;
    text-decoration: none;
    margin-left: 50px;
}
nav a:hover {
    color: #b48e72;
}
/**
* TITRE
*/
#title {
    width : 100%;
    text-align : center;
    margin-top: 75px;
    font-family: "Mackintosh SF", sans-serif;
}
#title h1 {
    font-size: 40px;
    color: #240f00;
    letter-spacing: 4px;
}
#title h2 {
    font-size: 21px;
    color: #6b5442;
    font-weight: 400;
}

/**
*  CONTENU -> Description
*/
#description {
    width: 100%;
    margin-top: 50px;
    background : #e7e5d4;
    min-height : 150px;
    padding-bottom : 50px;
}
#description p {
    display : block;
    max-width : 960px;
    margin: auto;
    text-align : justify;
    padding: 40px;
}
#description span a {
    padding : 5px;
    width: 100px;
    margin :0 auto;
    display : inline-block;
    border : 2px solid #240f00;
    text-align : center;
    border-radius: 10px;
    color: #240f00;
    text-decoration : none;
    transition: 0.3s;
}
#description span a:hover {
    border-color : #6b5442;
    color: #6b5442;
}

p a {
    color: #240f00;
}
p a:hover {
    color: #6b5442;
}
/**
* CONTENU -> Body
*/
#content {
    margin: 0 auto;
    padding : 0;
    max-width: 960px;
}
#content table {
    padding : 0;
    margin: 0 auto;
}
#content td {
    padding : 0 0 25px 0;
}
#content h3 {
    font-family : "Mackintosh SF", sans-serif;
    letter-spacing: 2px;
    font-weight : 400;
    font-size : 25px;
    text-align : center;
}
#content p {
    width : 80%;
    margin: auto;
}
#content span a {
    padding : 5px;
    width: 60%;
    margin :0 auto;
    display : block;
    border : 2px solid #240f00;
    text-align : center;
    border-radius: 10px;
    color: #240f00;
    text-decoration : none;
    transition: 0.3s;
}
#content span a:hover {
    border-color : #6b5442;
    color: #6b5442;
}

/**
* CONNEXION
*/
.connect {
    width: 500px;
    margin :0 auto;
}
.connect label {
    float : left;
    width : 150px;
    display : block;
}
span.warning {
    color : #8d1421;
    background : #bb8073;
    display : block;
    padding: 5px;
    border : 1px solid #8d1421;
    border-radius :5px;
}
span.success {
    color : #064800;
    background : #6fe442;
    display : block;
    padding: 5px;
    border : 1px solid #064800;
    border-radius :5px;
}

#annonces {
    max-width : 960px;
    margin :0 auto;
}
#annonces h3 {
    padding: 40px;
    font-size: 25px;
}
#annonces table {
    width :100%;
    border-collapse: collapse;
}
#annonces th {
    text-align: left;
    border-bottom : 1px solid #aaa;
    padding: 15px;
}
#annonces td {
    padding: 20px;
    border-bottom : 1px solid #ccc6a3;
}
#annonces tr.tbody:hover {
    background : #ccc6a3;
    cursor : pointer;
}
#annonces .thead {
    background : #2c070b;
    color: #fefcea;
}


/**
* JEUX
*/
#games {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.item {
    display: inline-block;
    margin: 5px 5px 0 0;
    width: 200px;
    height: 240px;
    padding: 5px;
    overflow: hidden;
    background: #2c070b;
    transition: 0.5s;
    color: #f5feb8;
    border-radius: 5px;
}
.item img {
    border-radius: 5px;
    width: 200px;
}
.item:hover {
    background: #ccc6a3;
    color: #240f00;
}
.item span.game {
    font-weight: bold;
    margin: auto;
    padding: 5px;
}
.bold {
    font-weight: bold;
}
/**
* FOOTER
*/
footer {
    margin-top: 100px;
    width :100%;
    background : #2c070b;
    color: #f5feb8;
    padding : 10px 0 10px 0;
}
footer #foot {
    max-width : 960px;
    margin :0 auto;
}
footer h5 {
    padding :0;
    margin : 0;
    font-size : 16px;
}
footer #nav ul {
    list-style: none;
    font-size : 13px;
    padding-left : 15px;
}
footer #nav ul li a {
    color: #7abd64;
    text-decoration : none;
}
footer #nav ul li a:hover {
    color: #499a00;
}

/**
* DIVERS
*/
.triangle {
    cursor : pointer;
    font-size : 8px;
}
/* Champs de texte */
input[type=text], input[type=password], input[type=email] {
    border: 1px solid #333;
    padding: 3px;
    border-radius: 4px;
    color: #555;
    font-size: 15px;
}
input:focus {
    border: 1px solid coral;
}

/* Avatars posts */
img.avatar {
    border: 1px solid #2c070b;
}
a.bold {
    font-weight: bold;
}

.btndark {
    padding : 9px;
    border : 2px solid #240f00;
    border-radius: 10px;
    color: #f5feb8;
    text-decoration : none;
    transition: 0.5s;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20%;
    font-weight: bold;
    background: #2c070b;
}
.btndark:hover {
    color: #2c070b;
    background: none;
}

/**
* PROFIL
*/
#profil {
    max-width: 960px;
    margin: 0 auto;
}
#profil .left {
    float: left;
    width: 45%;
}
#profil .right {
    float: right;
    width; 45%;
}

.cb {
    clear:both;
}

/**
* FORUM
*/
/* Le fil d'arianne (lien tout au long du forum) */
#arianne {
    max-width: 960px;
    margin: auto;
    padding : 10px;
}

.arrow {
    content: " ";
    display: inline-block;
    height: 0;
    width: 0;
    border: 1px solid transparent;
    border-left-color: #333;
    border-width: 5px 0 5px 7px;
    margin: 0 5px;
}

/* Présentation de la liste des catégories */
.colnom {
    width: 50%;
}

.colnbrsujets, .colnbrvu, .colnbrmsg {
    width: 10%;
    text-align: center;
}
.collast {
    width: 30%;
    text-align: center;
}

table.tableforum {
    border-collapse: collapse;
    max-width: 960px;
    margin: auto;
}
.tableforum tr, .tableforum td, .tableforum th {
    padding: 15px;
}
table.tableforum th {
    background : #2c070b;
    color: #fefcea;
}
.tableforum tr:hover {
    background : #ccc6a3;
    cursor : pointer;
}
.tableforum a {
    font-size: 18px;
}

.entete {
    background: #e7e5d4;
}

.tableforum td {
    border-bottom: 1px solid #2c070b;
    vertical-align:top;
}
